// ... existing code ...
        <div class="col-xs-12 col-sm-8 col-md-9">
            <h2 style="margin-top: 0;">Real-Time Dashboard</h2>
            <p>Live network flow analysis and threat detection.</p>
        </div>
        <!-- Button Column -->
        <div class="col-xs-12 col-sm-4 col-md-3 header-button-col">
            <button id="start-button" class="btn btn-success btn-lg header-button">Start Sourcing</button>
            <button id="stop-button" class="btn btn-danger btn-lg header-button" style="display:none;">Stop Sourcing</button>
            <a href="offline.html" class="btn btn-primary btn-lg header-button" style="margin-top: 10px;">
                <span class="glyphicon glyphicon-list-alt"></span> Offline analysis Page 
            </a>
        </div>
    </div>

    <hr>

    <div class="row">
// ... existing code ...